<ion-view class="user">
	<ion-content class="user">
		<div class="bar bar-header bar-assertive">
			<h1 class="title">Datos Personales</h1>
		</div>
		<div class="lugar">
			<h1 class="color">Datos Generales</h1>
			<div class="row">
				<div class="col">
					<p class="letra">Nombre: Edwin Andre Osorio Ramirez</p>
					<p class="letra">Edad: 17 años</p>
					<p class="letra">Sexo: Masculino</p>
					<p class="letra">Estado Civil: Soltero</p>
					<p class="letra">Fecha De Nacimiento: 26 de octubre</p>
					<p class="letra">Lugar De Nacimiento: Ciudad de Guatemala</p>
					<p class="letra">Fotografia del individuo:</p>
					<p class="letra">CUI: 264553549875666</p>
					<p class="letra">NIT: 111541</p>
				</div>
				<div class="col">
					<img src="img/foto.png" class="borde">
				</div>
			</div>
			<div class="container fondo1">
				
			</div>
		</div>
	</ion-content>
</ion-view>
